<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrlSql" value="http://172.23.1.231:1443/api/" />
		<add key="BaseUrlMongoAPI" value="http://172.23.3.204:5001/MongoApi/v1/"/>
	<add key="BaseUrlFixersAPI" value="http://172.23.3.204:5010/FitxersAPI/v1/"/>
	</appSettings>
</configuration>